<!-- Content Heading Section -->
<% if (title) { %>
    <h1 class="title_h1"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

   <!-- Show Flash Message -->
  <%- messages() %>
   <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
    
 <!-- Form for Updating Account Information -->   
<div class="register">
  <form action="/account/edit/info" method="post" id="updateInfoForm">

    <label for="account_firstname">First Name:</label>
    <input type="text" id="account_firstname" name="account_firstname" value="<%= account_firstname %>" required>

    <label for="account_lastname">Last Name:</label>
    <input type="text" id="account_lastname" name="account_lastname" value="<%= account_lastname %>" required>

    <label for="account_email">Email:</label>
    <input type="email" id="account_email" name="account_email" value="<%= account_email %>" required>

    <input type="hidden" name="account_id" value="<%= account_id %>">

    <button type="submit">Update Info</button>
  </form>
</div>

<!-- Form for Updating Password -->
<div class="register">
  <form action="/account/edit/password" method="post" id="updatePasswordForm">
    <label for="account_password">New Password:</label>
    <input type="password" id="account_password" name="account_password" pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$" required>
    <span><P>Passwords must be at least 12 characters long, contain 1 uppercase letter, 1 number, and 1 special character.</P></span>

    <input type="hidden" name="account_id" value="<%= account_id %>">

    <button type="submit">Change Password</button>
  </form>
</div>



    <!-- <link rel="script" href="/js/registerIcon.css"> -->
    <script src="../../js/acc-update.js"></script>

    <script src="/js/script.js"></script>
    
