<!-- Content Heading Section -->
<% if (title) { %>
    <h1 class="title_h1"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
        <% } %>
    <div class = "delete-view" > 
    <h3>Confirm Deletion - The delete is permanent.</h3>
    </div> 
    <div class="add-inv">
            <form action="/inv/delete" method="post" id ="deleteForm">

            <label for="inv_make">Make</label>
            <input type="text" id="inv_make" name="inv_make" readonly  <% if(locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>><br><br>

            <label for="inv_model">Model</label>
            <input type="text" id="inv_model" name="inv_model" readonly  <% if(locals.inv_model) { %> value="<%= locals.inv_model %>" <% } %>><br><br>

            <label for="inv_price">Price</label>
            <input type="text" id="inv_price" name="inv_price" readonly  <% if(locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>><br><br>

            <label for="inv_year">Year</label>
            <input type="text" id="inv_year" name="inv_year" readonly <% if(locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>><br><br>

            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>

            <button type="submit">Delete Vehicle</button>
        </form>
    </div>

  